body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #00a680; /* Header Background Color */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.profile-header {
    background-image: url('tour-guide-background.jpg'); /* Background Image of Tour Guide */
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-right: 20px;
}

.profile-info {
    text-align: left;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00a680; 
    
}

.profile-location, .profile-rating, .profile-price {
    font-style: italic;
    margin-bottom: 10px;
}

.rating-number {
    font-weight: bold;
    color: #00a680; /* Green Text Color for Rating */
}

.rating-stars {
    font-size: 20px;
    color: #00a680; /* Green Text Color for Rating Stars */
}

.profile-description h2, .profile-places h2 {
    font-size: 24px;
    color: #00a680; /* Green Text Color for Section Headings */
}

.profile-description p {
    font-size: 18px;
    margin: 20px 0;
    line-height: 1.5;
}

.profile-places ul {
    list-style: none;
    padding: 0;
}

.profile-places li {
    font-size: 16px;
    margin: 5px 0;
}
